#reconciliation {
    width: 100%;
    height: 100%;
}

#reconciliation .scrolling_content {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#reconciliation .backdrop-header {
    width: 100%;
    height: 80px;
}

#reconciliation .backdrop-body {
    width: 100%;
    height: 100%;
}

#reconciliation .backdrop th {
    color: #f0f0f0;
    font-weight: normal;
    text-align: left;

    padding: 0.75em 1em 0.5em 1em;
    width: 20%;
}

#reconciliation .backdrop th:first-child {
    border-top-left-radius: 0.2em;
}

#reconciliation .backdrop th:last-child {
    border-top-right-radius: 0.2em;
}

#reconciliation .backdrop tr {
    -webkit-transition: background 0.8s ease-in-out;
    -moz-transition: background 0.8s ease-in-out;
    -o-transition: background 0.8s ease-in-out;
    transition: background 0.8s ease-in-out;
}

#reconciliation .backdrop td, .item .header, .item .detail {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#reconciliation .header .med-active-ingredients {
    font-size: 12px;
}

#reconciliation .item {
    width: 18%;
    padding: 5px;
    color: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right bottom, #118ab2, #1999c2);

    transition: background 0.8s;
    -o-transition: background 0.8s;
    -moz-transition: background 0.8s;
    -webkit-transition: background 0.8s;
}

#reconciliation .item .name {
    font-weight: bold;
}

#reconciliation .item .detail span {
    font-size: 80%;
    margin: 0 0.3em;
    padding: 0 0.2em;
}

#reconciliation .item.undecided-hover {
    color: black;
    cursor: pointer;
    background-image: linear-gradient(to right bottom, #ffd166, #f8d581);
}

#reconciliation .item.accepted {
    background: #48C774;
}

#reconciliation .item.rejected {
    background: red;
    text-decoration: line-through;
}

#reconciliation .item {
    position: absolute;

    -webkit-transition: -webkit-transform 0.2s ease-in-out,
    opacity 0.2s;
    -moz-transition: -moz-transform 0.2s ease-in-out,
    opacity 0.2s;
    -o-transition: -o-transform 0.2s ease-in-out,
    opacity 0.2s;
    transition: transform 0.2s ease-in-out,
    opacity 0.2s;

    z-index: 10; /* > 1 to be above shadows (ghosts) */
}

#reconciliation .item:hover, .item-hover {
    -webkit-transform: translateX(2%);
    -moz-transform: translateX(2%);
    -ms-transform: translateX(2%);
    -o-transform: translateX(2%);
    transform: translateX(2%);

    text-overflow: ellipsis;
}

#reconciliation .col-header .action ul, .col-header .action li {
    display: inline;
}

#reconciliation .col-header .action li:first-child::after {
    opacity: 0.6;
    content: " | ";
}

#reconciliation .col-header .action li:last-child {
    float: right;
}

#reconciliation .col-header .action a {
    opacity: 0.6;
}

#reconciliation .col-header .action a:hover {
    opacity: 1;
}

#reconciliation .bg-accent .col-header {
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #073b4c, #09485e);
}

#reconciliation .highlight {
    color: #333333;
    background: #e9c46a;
    border: 1px solid #e9c46a;
    border-radius: 10px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#reconciliation #modify .action, #review .action {
    position: absolute;
    right: 5%;

    top: 70%;
    width: 35%;
}

#reconciliation .response {
    font-size: 95%;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#reconciliation .response .back::before {
    content: "[ ";
}

#reconciliation .response .back::after {
    content: " ]";
}

#reconciliation .content {
    position: relative;
    width: 100%;
    height: calc(100% - 65px);
}

#reconciliation .keep,
#reconciliation .reject,
#reconciliation .clear {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#reconciliation .reconciliation-top-bar {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #264653;
}

#reconciliation .reconciliation-button {
    border: none;
    color: white;
    margin: 0 5px;
    font-weight: bold;
    border-radius: 10px;
}

#reconciliation .reconciliation-button.selected {
    background: #818a91;
    border-color: #818a91;
}
